@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
}
:root {
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --Very-dark-blue-mainBG: hsl(217, 54%, 11%);
    --Very-dark-blue-cardBG: hsl(216, 50%, 16%);
    --Very-dark-blue-line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);

    font-size: 62.5%; /* 1rem = 10px */
}
body {
    background-color: var(--Very-dark-blue-mainBG);
    
}
section {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.card {
    background-color: var(--Very-dark-blue-cardBG);
    width: 34rem;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.NFT--imagem {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;    
}
.NFT {
    width: 30rem;
    object-fit: cover;
    border-radius: 1rem;
}
.infor {
    margin-bottom: 2rem;
}
h1 {
    color: var(--White);
    margin-bottom: 2rem;
    font-weight: 600;
    font-size: 2.2rem;
}
p {
    color: var(--Soft-blue);
}

.infor--price {
    display: flex;
    justify-content: space-between;
}
.price, .time {
    display: flex;
    align-items: center;
}
.price h2, .time h3{
    margin-left: 0.5rem;
}
.price h2 {
    color: var(--Cyan);
    font-weight: 600;
}
.time h3, .perfil h3 {
    color: var(--Soft-blue);
    font-weight: 400;
}
.line {
    margin-top: 2rem;
    border: 0.1rem solid var(--Very-dark-blue-line);
}
.perfil span {
    color: var(--White);
}
.perfil {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.perfil img {
    width: 3rem;
    margin-right: 1.5rem;
    border-radius: 50%;
    border: 0.1rem solid #FFF;
}


